<%= render :partial => 'partials/menu_gral' %>

<!-- bloc-10 -->
<div class="bloc bgc-anti-flash-white l-bloc" id="bloc-10">
  <div class="container bloc-lg">
    <div class="row">
      <div class="col-sm-12 col-md-6 col-md-offset-3">
        <div class="panel">
          <div class="panel-heading bgc-charcoal">
            <h4 class="mg-clear tc-white text-center">
              CONTACTANOS
            </h4>
          </div>
          <div class="panel-body">
            <p>
              Estamos en busca de colaboradores que puedan poblar nuestra base de datos. <br> Si estás interesado completa el siguiente formulario y nos
              pondremos en contacto.
            </p>
            <%= form_for @message, url: contact_path do |message_form| %>
                <fieldset>
                  <div class="field">
                    <p><strong>Nombre</strong></p>
                    <%= message_form.text_field :name, autofocus: true, :class => "form-control" %>
                  </div>
                  <br>
                  <div class="field">
                    <p><strong>Email</strong></p>
                    <%= message_form.email_field :email, :class => "form-control"%>
                  </div>
                  <br>
                  <div class="field">
                    <p><strong>Mensaje</strong></p>
                    <%= message_form.text_area :content, :class => "form-control"%>
                  </div>
                </fieldset>
                <br>
                <fieldset>
                  <div class="field">
                    <%= message_form.submit "Enviar", :class => "btn   btn-sq btn-charcoal" %>
                  </div>
                </fieldset>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- bloc-10 END --><%= render :partial => 'partials/menu_gral' %>

<!-- bloc-10 -->
<div class="bloc bgc-anti-flash-white l-bloc" id="bloc-10">
  <div class="container bloc-lg">
    <div class="row">
      <div class="col-sm-12 col-md-6 col-md-offset-3">
        <div class="panel">
          <div class="panel-heading bgc-charcoal">
            <h4 class="mg-clear tc-white text-center">
              CONTACTANOS
            </h4>
          </div>
          <div class="panel-body">
            <p>
              Estamos en busca de colaboradores que puedan poblar nuestra base de datos. <br> Si estás interesado completa el siguiente formulario y nos
              pondremos en contacto.
            </p>
            <%= form_for @message, url: contact_path do |message_form| %>
                <fieldset>
                  <div class="field">
                    <p><strong>Nombre</strong></p>
                    <%= message_form.text_field :name, autofocus: true, :class => "form-control" %>
                  </div>
                  <br>
                  <div class="field">
                    <p><strong>Email</strong></p>
                    <%= message_form.email_field :email, :class => "form-control"%>
                  </div>
                  <br>
                  <div class="field">
                    <p><strong>Mensaje</strong></p>
                    <%= message_form.text_area :content, :class => "form-control"%>
                  </div>
                </fieldset>
                <br>
                <fieldset>
                  <div class="field">
                    <%= message_form.submit "Enviar", :class => "btn   btn-sq btn-charcoal" %>
                  </div>
                </fieldset>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- bloc-10 END --><%= render :partial => 'partials/menu_gral' %>

<!-- bloc-10 -->
<div class="bloc bgc-anti-flash-white l-bloc" id="bloc-10">
  <div class="container bloc-lg">
    <div class="row">
      <div class="col-sm-12 col-md-6 col-md-offset-3">
        <div class="panel">
          <div class="panel-heading bgc-charcoal">
            <h4 class="mg-clear tc-white text-center">
              CONTACTANOS
            </h4>
          </div>
          <div class="panel-body">
            <p>
              Estamos en busca de colaboradores que puedan poblar nuestra base de datos. <br> Si estás interesado completa el siguiente formulario y nos
              pondremos en contacto.
            </p>
            <%= form_for @message, url: contact_path do |message_form| %>
                <fieldset>
                  <div class="field">
                    <p><strong>Nombre</strong></p>
                    <%= message_form.text_field :name, autofocus: true, :class => "form-control" %>
                  </div>
                  <br>
                  <div class="field">
                    <p><strong>Email</strong></p>
                    <%= message_form.email_field :email, :class => "form-control"%>
                  </div>
                  <br>
                  <div class="field">
                    <p><strong>Mensaje</strong></p>
                    <%= message_form.text_area :content, :class => "form-control"%>
                  </div>
                </fieldset>
                <br>
                <fieldset>
                  <div class="field">
                    <%= message_form.submit "Enviar", :class => "btn   btn-sq btn-charcoal" %>
                  </div>
                </fieldset>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- bloc-10 END -->