<%= render :partial => 'partials/menu_devise' %>

<div class="bloc bgc-anti-flash-white l-bloc" id="session">
  <div class="container bloc-lg">
    <div class="row">
      <div class="col-sm-12">
        <div class="row">
          <div class="col-sm-3">
            <span class="empty-column"></span>
          </div>
          <div class="col-sm-6">
            <div class="panel">
              <div class="panel-heading bgc-charcoal">
                <h4 class="mg-clear tc-white text-center">
                  INGRESAR A CUANTO PIDO?
                </h4>
              </div>
              <div class="panel-body">
                <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
                    <div class="field">
                      <p><strong>Email</strong></p>
                      <%= f.email_field :email, autofocus: true, :width => "100%" %>
                    </div>
                    <br>
                    <div class="field">
                      <p><strong>Contraseña</strong></p>
                      <%= f.password_field :password, autocomplete: "off" %>
                    </div>

                    <% if devise_mapping.rememberable? -%>
                        <div class="field pull-left">

                          <p><%= f.check_box :remember_me %> <string>Recordar</string></p>
                        </div>
                    <% end -%>

                    <div class="actions">
                      <%= f.submit "Ingresar", :class => "btn btn-sq btn-charcoal" %>
                    </div>
                <% end %>
                <p>
                  <%= render "devise/shared/links" %>
                </p>
              </div>
            </div>
          </div>
          <div class="col-sm-3">
            <span class="empty-column"></span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>