<%= render :partial => 'partials/menu_gral' %>
<!-- bloc-5 -->
<div class="bloc bgc-anti-flash-white d-bloc" id="bloc-5">
  <div class="container bloc-xs">
    <div class="row">
      <br>
      <% if admin_signed_in? %>
          <%= link_to new_product_path do %>
              <li class="tc-onyx btn btn-charcoal btn-sq">
                <span class="fa fa-arrow-up fa-fw"></span> NUEVO PRODUCTO
              </li>
          <% end %>
          <%= link_to users_path do %>
              <li class="tc-onyx btn btn-charcoal btn-sq">
                <span class="fa fa-users fa-fw"></span> VER USUARIOS
              </li>
          <% end %>

      <% else %>
      <% end %>
      <br>
      <br>
      <div class="row">

        <% @products.each do |product| %>
            <div class="col-md-3" id="listado_productos">
              <div class="thumbnail">
                <%= link_to product do %>
                    <%= image_tag product.img.url(:large), :class => "img-responsive center-block img-frame prod" %>
                    <div class="caption">
                      <h5 class="tc-onyx">
                        <%= product.category %>
                      </h5>
                      <h5 class="tc-onyx">
                        <%= product.model %>
                      </h5>
                      <h4 class="tc-price"><strong>
                        $<%= number_with_delimiter product.price, :delimiter => "." %>
                      </strong>
                      </h4>
                      <h5 class="tc-onyx">
                        Clasificación: <%= rating_for product, "rate", star_path: '/images/' %>
                      </h5>
                    </div>
                <% end %>
                <% if admin_signed_in? %>
                    <%= link_to 'Ver', product, :class => "tc-onyx btn btn-default btn-xs" %>
                    <%= link_to 'Editar', edit_product_path(product), :class => "tc-onyx btn btn-default btn-xs" %>
                    <%= link_to 'Eliminar', product, method: :delete, data: {confirm: 'Estas seguro?'}, :class => "tc-onyx btn btn-default btn-xs" %>
                    </div>
                <% else %>
                <% end %>
              </div>
            </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
</div>
<!-- bloc-5 END -->